################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceChatbot/.vs/EcommerceChatbot/FileContentIndex
.vs/
bin/
obj/
*.dll
*.pdb
*.cache
