@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    60% {
        opacity: 0.6;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
