<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="vnp_Returnurl" value="https://localhost:5167/PaymentResponse" />
		<add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html" />
		<add key="vnp_TmnCode" value="KZ4S1TIU" />
		<add key="vnp_HashSecret" value="HT633JOAIXQ2PUTG2S26ZNT8YFR56UOP" />
	</appSettings>
</configuration>
